@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  font-size: 20px;
}

p {
  color: #ffffff;
  font-size: 1.5rem;
}

.section {
  margin-top: 30px;
  background-color: #0b4869;
  padding: 5px 0px 30px 0px;
  border-radius: 8px;
}

header {
  background-color: #012B42;
  padding: 15px;
}

.menu .letra-azul {
  color: white;
  font-size: 18px;
}

.text-contacto{
  color: white;
}

.letra-azul:hover{
  background-color: greenyellow;
  color: black;
  font-size: 21px;
  transition: all 1s;
  border-radius: 10px;
}

footer {
  margin-top: 30px;
  background-color: #012B42;
}

.canchas {
  width: 25rem;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 10px;
}

/*.article_productos {
  width: 10rem;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 10px;
}*/

.caja-cancha img {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(33, 20, 221, 0.4);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.caja-cancha img:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.caja-cancha img:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.caja-articulo img {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(33, 20, 221, 0.4);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.caja-articulo img:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.caja-articulo img:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.canchas {
  width: 25rem;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 10px;
}

.article_productos {
  width: 10rem;
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 10px;
}

.caja-cancha img {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(33, 20, 221, 0.4);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.caja-cancha img:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.caja-cancha img:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.caja-articulo img {
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(33, 20, 221, 0.4);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.caja-articulo img:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.caja-articulo img:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.botonContacto {
  text-decoration: none;
  color: white;
  background-color: rgb(54, 198, 73);
  padding: 10px;
  width: 200px;
  border: 1px solid;
  border-radius: 15px !important;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  margin-top: 15px;
}

.botonContacto:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(33, 20, 221, 0.4);
}
.botonContacto::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.botonContacto:hover::after {
  background-color: rgba(33, 20, 221, 0.4);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.boton {
  text-decoration: none;
  color: white;
  background-color: rgb(54, 198, 73);
  padding: 3px;
  border: 1px solid;
  border-radius: 15px !important;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  margin-top: 15px;
}

.boton:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(33, 20, 221, 0.4);
}
.boton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.boton:hover::after {
  background-color: rgba(33, 20, 221, 0.4);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.addCarrito{
  font-size: 15px;
}

.text-center{
  color: #fff;
}

.productos-carrito{
  padding-left: 50px;
  padding-right: 50px;
}
.bloque{
  margin-bottom: 30px;
 display: block;
}

/*Metodos de pago */

.contenedorform{
display: flex; 
justify-content: center; 
background: url('');
}

.tituloform{
margin-top: 1rem; 
font-size: 1.875rem;
line-height: 2.25rem; 
font-weight: 700; 
text-align: center; 

}

.imgpago{
  width: 135px;
  cursor: pointer;
  margin-right: 12px;
}

.datospagobloque {
margin-top: 1rem; 
margin-bottom: 1rem; 
border-radius: 0.25rem; 
border-width: 1px; 
background-color: #ffffff; 
}

.pagoMovil {
display: flex;
margin-left: 1rem;
justify-content: center;
}

.infoPag{
  font-size: 20px;
}

.bordePagom{
border-width: 1px;
}

.tasaPagom{
margin-top: 35px;
text-align: center; 
}

.flex-d{
display: flex;
justify-content: center; 
}


.centerPag{
padding: 1rem; 
border-radius: 0.25rem;
text-align: center; 
}

.colorAzul{
color: #1D4ED8; 
}

.informacionPago{
padding: 1rem; 
border-width: 1px; 
border-color: #059669; 
font-size: 0.75rem;
line-height: 1rem; 
text-align: center; 
}

.botonpagoform {
margin-top: 15px;
border-radius: 7px; 
width: 100%;
height: 40px;
font-size: 20px;
font-weight: 700px; 
text-align: center; 
color: #ffffff; 
background-color: #2563EB;
border: none;
}

.metodospagos{
padding: 1rem; 
border-radius: 0.25rem; 
border-width: 1px;
text-align: center;
}

.emailpago{
font-weight: 700px; 
text-align: center;
background-color: rgb(171, 246, 195);
font-size: 50px;
border-radius: 10px;
padding: 10px;
}

.borderPag{
border-radius: 0.25rem; 
}

.fontW{
font-weight: 700; 
}

.Ww{
width: 100%; 
}

.cajaBotonesPago{
  display: flex;
  justify-content:space-around;
  margin-top: 20px;
}

.btnpag{
  border: none;
  border-radius: 70px;
}

.advertencia{
  font-size: 20px;
  color: black;
}

.space{
  margin-top: 50px;
}

.referencia{
  padding: 7px;
  width: 20%;
  background-color: #a0e4ab;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.referenciaBrz{
  padding: 7px;
  width: 40%;
  background-color: #a0e4ab;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.ref{
  display: flex;
  justify-content: center;
  }

.inputRef{
margin-top: 10px;
display: flex;
justify-content: center;
}

.metodosPag{
  color: white;
}

/*mas estilos al footer*/

.footer-logo{
  display: flex;
  justify-content: center;
}

.ul-footer{
  text-align: center;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.ul-footer a:hover{
  color:greenyellow;
  font-size: 21px;
  transition: all 1s;
}

/*Final*/

.botonFinalw {
  font-size: 25px;
  text-decoration: none;
  color: white;
  background-color: rgb(54, 198, 73);
  padding: 10px;
  border: 1px solid;
  border-radius: 25px !important;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.botonFinalw:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(33, 20, 221, 0.4);
}
.botonFinalw::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.botonFinalw:hover::after {
  background-color: rgba(33, 20, 221, 0.4);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

/*Volver*/

.botonFinalv {
  font-size: 25px;
  text-decoration: none;
  color: white;
  background-color: rgb(220, 27, 33);
  padding: 10px;
  border: 1px solid;
  border-radius: 25px !important;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  margin-top: 2px;
  margin-bottom: 20px;
}

.botonFinalv:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(33, 20, 221, 0.4);
}
.botonFinalv::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.botonFinalv:hover::after {
  background-color: rgba(33, 20, 221, 0.4);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.centrarFinal{
  padding-top: 3%;
}

/*Inicio Carrusel Alquiler canchas*/

.swiper{
  margin-top: 40px;
}
.swiper-slide{
  margin-bottom: 50px;
  border-radius: 15px;
  height: 420px;
  width: 295px;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  border-radius: 15px;
  height: 420px;
}

.swiper-txt{
  position: absolute;
  padding: 25px;
}

.swiper-txt h3{
  font-size: 20px;
  margin-bottom: 5px;
  color: #222222;
}

.alquilaYa{
text-align: center;
}

.inicioPadel{
  border: 0px;
}

/*Fin Carrusel*/


.advertenciaAnimacion {
  color: black;
  transition: color 1s ease;
}

.advertenciaAnimacion.rojo {
  color: red;
}

/* Animación para cambiar el color de la advertencia cada 3 segundos */
@keyframes colorChange {
  0% {
    color: greenyellow;
  }
  50% {
    color: red;
  }
  100% {
    color: greenyellow;
  }
}

.advertenciaAnimacion.animation {
  animation: colorChange 2s infinite; /* Repetir la animación indefinidamente cada 3 segundos */
}

/*tema claro y oscuro*/

 body.light-theme {
  background-color: #f9f9f9;
  color: #222;
}

body.dark-theme {
  background-color: #222;
  color: #f9f9f9;
}

.btnTema{
width: 120px;
color: white;
font-family: 'Roboto', sans-serif;
height: 60px;
border: none;
border-radius: 40px;
background: linear-gradient(to bottom right, #000, #fff);
transition: all 0.5s;
animation: moveButton 3s infinite alternate;
}

.btnTema:hover {
  font-size: 17px;
  color: black;
}

@keyframes moveButton {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}